.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
.categories-cards .card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}
