.destination {
  width: 312px;
  margin: 0 auto;
}

.section-title {
  white-space: nowrap;
}

.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.item .img-item.tokyo {
  width: 312px;
  height: 360px;
  background-image: url(../assets/Tokyo-mobile.jpg);
  background-size: cover;
  margin: 32px auto;
}

.item .img-item.osaka {
  width: 312px;
  height: 360px;
  background-image: url(../assets/Osaka-mobile.jpg);
  background-size: cover;
  margin: 32px auto;
}

.destination-items .item header h4 {
  width: 312px;
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 24px auto;
}

.destination-items .item p {
  width: 312px;
  margin: auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
}

.destination-items .item a {
  text-align: center;
}

.destination-items .item .button {
  width: 312px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .item .img-item.tokyo {
    width: 648px;
    height: 452px;
    background-image: url(..//assets/Tokyo-tablet-desk.jpg);
    background-size: cover;
    margin: 0 60px;
  }

  .destination-items .item header h4 {
    font-weight: var(--title-weight);
    font-size: 28px;
    margin: 24px 60px;
  }

  .destination-items .item p {
    width: 648px;
    height: 96px;
    margin-bottom: 24px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
  }

  .destination-items .item .p-osaka {
    height: 128px;
  }

  .item .img-item.osaka {
    width: 648px;
    height: 452px;
    background-image: url(..//assets/Osaka-tablet-desk.jpg);
    background-size: cover;
    margin: 0 60px;
  }

  .destination-items .item .button {
    margin: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-items .item .button {
    margin: 24px 180px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
}