.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../assets/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url(../assets/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    color: var(--text-primary-color);
    font-size: 32px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url(../assets/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
